
<div class="subMenu">
    <a href="{{url("mypage_index")}}">
        <div id="myInfo" class="subContent">나의정보</div>
    </a>
    <a href="{{url("mypage_pay")}}">
        <div id="myPay" class="subContent">주문결제내역</div>
    </a>
    <a href="{{url("mypage_cart")}}">
        <div id="myCart" class="subContent">카트</div>
    </a>
    <a href="{{url("logout")}}">
        <div class="subContent">로그아웃</div>
    </a>
</div>

